.card {
  border-radius: 10px;
}

.card-img-top {
  object-fit: cover;
}

.badge {
  font-size: 0.8rem;
}

.star-rating .on .star {
  color: gold;
}

.star-rating .off .star {
  color: #ccc;
}

.star-on {
  color: gold;
}

.star-off {
  color: #ccc;
}

.star-rating .star {
  font-size: 2rem;
}

.price-text {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 15px;
}

.currency-unit,
.unit-label {
  position: absolute;
  font-size: 0.8em;
}

.unit-label {
  margin-left: 5px;
}