.floating-message-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 500px;
  z-index: 1000;
}

.chat-window {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: white;
  overflow: hidden;
}

.chat-header {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.chat-body {
  height: 500px;
  width: 500px;
  overflow-y: auto;
}

.chat-text {
  width: fit-content;
  max-width: 300px;
}